:root{
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 5px;
    padding: 5px;
}

.socialmedia a{
    text-decoration: none;
}


h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img{
    float: right;
    width: 125px;
}

/*menu*/
header{
    display: flex;
    height: 100px;
    background-color: #264653;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header img{
    height: 80px;
    margin: 20px;
}
nav{
    background-color: var(--accent1-color);
    padding: 20px;
    display: ruby;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    align-items: first right;
    display: inline-table;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    background-color: white;
    color: var(--accent1-color);
}

/*Title*/
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

/*About Us*/
.hero article{
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

.hero article p{
    text-align: justify;
    color: black;
}
.hero article img{
    width: 200px;
    height: auto;
    margin-top: 20px;
}