:root{
    --primary-color: #05688f;
    --secondary-color: #488ff8;
    --accent1-color: #264653;
    --accent2-color: #226ddd;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    /*color: var(--primary-color);*/
}

nav, p, section, article{
    margin: 5px;
    padding: 5px;
}

.hero article img{
    float: right;
    width: 125px;
}

/*menu*/
header{
    margin: 5px auto;
    display: grid;
    height: 100px;
    background-color: var(--accent1-color);
    padding: 5px;
    grid-template-columns: auto 1fr;
    align-items: center;
}
header img{
    height: 75px;
    margin: 15px;
}
nav {
    padding: 20px; 
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    background-color: var(--accent1-color);
}
nav a{
    margin: 5px;
    font-size: 24px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    text-decoration: none;
    display: inline-table;
    background-color: white;
    color: var(--accent1-color);
}

/*Title*/
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    opacity: 0.8;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: #fff;
}
.hero{
    display: flex;
    position: relative;
    /*width: 100%;*/
    margin: 0 auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

/*About Us*/
.hero article{
    top: 50%;
    left: 50%;
    width: 90%;
    opacity: 0.9;
    padding: 20px;
    max-width: 80%;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
}
.hero article h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}
.article-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.article-content p{
    flex: 1;
    font-size: 16px;
    text-align: justify;
    color: black;
    margin: 0;
    /*color: black;
    font-size: 16px;    
    text-align: justify;*/
}
.article-content img{
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 0;
    /*display: block;
    margin: 5px auto 0 auto;*/
}

/*History*/
.History{
    padding: 20px;
    color: #fff;
    margin: 10px auto;
    background-color: var(--primary-color);
}
.History h2{
    color: #fff;    
    font-size: 25px;
    text-align: center;
}
.telling_history{
    gap: 1rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
}
.telling_history p{
    margin: 3.5px;
    color: #fff;    
    flex: 1 1 250px;
    font-size: 16px;
    max-width: 300px;    
}
.telling_history img{
    max-width: 200px;
    height: auto;
}

/*Adventure*/
.Adventure{
    margin: 10px auto;
    box-shadow: 0 0 0 4px var(--accent2-color);
    background-color: rgb(228, 228, 228);
}
.Adventure h2{
    font-size: 25px;
    text-align: center;
    color: var(--accent1-color);
}
.adventure_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.adventure_gallery img{
    width: 90%;
    height: auto;
    margin: 5px;
}
.adventure_gallery figure{
    flex: 1 1 150px;
    max-width: 180px;
}
.adventure_gallery figcaption{
    text-align: center;
    margin-top: 3.5px;
    font-size: 12px;
    color: black;
}

/*Links*/
footer{
    display: flex;
    background-color: var(--accent1-color);
    text-align: center;
    align-items: center;
}
footer p{
    padding: 5px;
    color: #fff;
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia a{
    display: flex;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
    background-color: #38647500;
}