:root{
    --primary-color: #006eb6 /*#218fcf*/;
    --secondary-color: #21cfb8;
    --accent1-color: /*#264653*/#2138cf;
    --accent2-color: #cf6121;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
    --message-color:#e9e9e9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
}
nav, p, section, article{
    margin: 5px;
    padding: 5px;
}
.hero article img{
    float: right;
    width: 125px;
}

/*menu*/
header{
    margin: 5px auto;
    display: grid;
    height: 100px;
    background-color: var(--primary-color);
    padding: 5px;
    grid-template-columns: auto 1fr;
    align-items: center;
}
header img{
    height: 75px;
    margin: 15px;
}
nav {
    padding: 20px; 
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    background-color: var(--primary-color);
}
nav a{
    margin: 5px;
    font-size: 24px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    text-decoration: none;
    display: inline-table;
    background-color: white;
    color: var(--primary-color);
}

/*Title*/
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    opacity: 0.8;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: #fff;
}
.hero{
    display: flex;
    position: relative;
    /*width: 100%;*/
    margin: 0 auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

/*About Us*/
.hero article{
    top: 50%;
    left: 50%;
    width: 90%;
    opacity: 0.9;
    padding: 20px;
    max-width: 80%;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
}
.hero article h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}
.article-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.article-content p{
    flex: 1;
    font-size: 16px;
    text-align: justify;
    color: rgb(255, 255, 255);
    margin: 0;
    /*color: black;
    font-size: 16px;    
    text-align: justify;*/
}
.article-content img{
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 0;
    /*display: block;
    margin: 5px auto 0 auto;*/
}

/*History*/
.History{
    padding: 20px;
    color: #fff;
    margin: 10px auto;
    background-color: var(--accent2-color);
}
.History h2{
    color: #fff;    
    font-size: 25px;
    text-align: center;
}
.telling_history{
    gap: 1rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
}
.telling_history p{
    margin: 3.5px;
    color: #fff;    
    flex: 1 1 250px;
    font-size: 16px;
    max-width: 300px;    
}
.telling_history img{
    max-width: 200px;
    height: auto;
}

/*Adventure*/
.Adventure{
    margin: 10px auto;
    box-shadow: 0 0 0 2px var(--accent1-color);
}
.Adventure h2{
    font-size: 25px;
    text-align: center;
    color: var(--primary-color);
}
.adventure_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.adventure_gallery img{
    width: 90%;
    height: auto;
    margin: 5px;
}
.adventure_gallery figure{
    flex: 1 1 150px;
    max-width: 180px;
}
.adventure_gallery figcaption{
    text-align: center;
    margin-top: 3.5px;
    font-size: 12px;
    color: black;
}

/*Links*/
footer{
    display: flex;
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
}
footer p{
    padding: 5px;
    color: #fff;
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.socialmedia a{
    display: flex;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #cbe4f1;
}

/*get in touch*/

/*Map and Location*/
.find-Us{
    background-color: #ffffff;
}
.find-Us h3{
    margin: 5px;
    width: 700px;
    font-size: 20px;
    margin-left: 55px;
    text-align: center;
    color: var(--primary-color);
}
.info-container {
    gap: 45px;
    margin: 5px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}
.GoogleMap{
    width: 300px;
    padding: 5px;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}
.GoogleMap iframe {
    border: 0;    
    width: 100%;
    height: 200px;
    display: block;
}
.PhoneNumber{
    padding: 5px;
    width: 250px;
    height: 175px;
    color: white;
    margin-top: 55px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}
.PhoneNumber ul, .PhoneNumber a{
    margin: 5px;
    align-items: initial;
    text-decoration: none;
    color: whitesmoke;
}
.GoogleMap p, .PhoneNumber p {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}
.PhoneNumber ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}
.PhoneNumber li {
    margin-bottom: 5px;
}

/*Contact Form*/
.contact-form{
    margin: 10px auto;
    background-color: var(--message-color);
    box-shadow: 0 0 0 2px var(--primary-color);
}
.contact-form h2{
    font-size: 20px;
    text-align: left;
    margin-left: 16px;
    margin-bottom: 5px;
    color: var(--primary-color);
}
.contact-form img{
    width: 250px;
    height: auto;
    display: block;  
    margin-right: 20px;  
}
.form-container {
    gap: 30px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
form{
    flex: 1;
    gap: 5px;
    padding: 10px;  
    display: flex;      
    min-width: 300px;
    line-height: 1.5;
    flex-direction: column;
}
form input [type = "text"],
form input [type = "email"],
form textarea {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.radio-group{
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    flex-direction: column;
}
.submit-btn {
    border: none;
    color: white;    
    margin-top: 16px;
    padding: 8px 24px;
    background-color: var(--primary-color);
}
.form-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/*meet our team*/
.profiles{
    margin: 10px;
}
.profiles h2{
    font-size: 18.67px;
    margin-bottom: 5px;
    text-align: center;    
    color: var(--primary-color);
}
.profile-container{
    gap: 4rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.profile-container img{
    width: 90%;
    height: 300px;
    margin: 3px;
}
.profile-container figcaption{
    text-align: center;
    margin-top: 3.5px;
    color: black;
}
.profile-container h3{
    border-radius: 3px;
    color: var(--primary-color);
    background-color: var(--message-color);
}